<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.first_name}}</h1>
    

    {% if user.is_authenticated %}
        <h2>You have Selected</h2>
            {% for object in data %}
        <h3>Class: {{object.std}}</h3>
        <h3>Subject: {{object.Subject}}</h3>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{% url 'logout' %}">Logout</a>
        
    {% endfor %}
    {% else %}
        <h3>Not Authenticated</h3>
    {% endif %}

</body>
</html>